body {
    overflow-x: auto;
    font-family: sofia-pro;
    text-align: center;
    color: #0BC5C4;
    background-color: rgb(255, 255, 255);
}

#Page {
    background-color: rgb(200, 128, 64);
    color: #CCFFFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
}

.dreamwriterNavBar {
    margin: 0;
    padding: 0;
}

.dreamwriterNavBar > li {
    display: inline-block !important;
    color: #ccffaa;
}

.homepageCreateEventBtn {
    background-color: #0BC5C4;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px;
}

.homepagePageWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px 20px;
    box-sizing: border-box;
    justify-content: space-between;
}
